/* Global Styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #212121;
  font-family: 'Arial', sans-serif;
}

header {
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

h1 {
  margin: 0;
}

.box {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.card {
  position: relative;
  width: 100%;
  height: 300px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.card:hover {
  z-index: 2;
}

.card .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .imgBx img {
  transform: scale(1.2); /* Adjusted scale for a better hover effect */
}

.card .details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 10px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.card:hover .details {
  opacity: 1;
}

.card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  color: #f0f0f0;
}

.card .details h2 span {
  font-weight: 400;
  font-size: 14px;
  color: #ffeb3b;
  display: block;
  margin-top: 5px;
}

/* Blur effect for non-hovered cards */
.box .card:not(:hover) {
  filter: blur(4px);
  transition: filter 0.3s ease;
}

.box .card:not(:hover) .details {
  opacity: 0;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.modal-content {
  max-width: 90%; /* Ensure the image fits within the viewport width */
  max-height: 90%; /* Ensure the image fits within the viewport height */
  object-fit: contain;
  border: 5px solid white; /* Optional: Add border for better visibility */
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Footer Styles */
footer {
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer-content h1 {
  margin: 0;
  font-size: 24px;
}

.footer-content p {
  margin: 10px 0 0;
  font-size: 16px;
}
